@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: aliceblue;
}

.block {
  background-color: black;
  color: white;
  width: 30vw;
  height: 30vh;
  padding: 1rem;
}


.float-left {
  float: left;
}

.clear {
  clear: left;
}